<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
 <!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">	    -->
  <title ><%= title %></title>
  
        <link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="./stylesheets/signin.css" /> -->
    <script src="./socket.io/socket.io.js"></script>

  <script src="./javascripts/jquery-1.11.2.min.js" type="text/javascript"></script>

  </head>

  <body>
  <p id="path"><%= path %></p>
  <div id="container" class="container">
     <% if (locals.success) { %> 
      <div id="alt_sucess" class="alert alert-success"> 
      <%- success %> 
      </div> 
     <% } %> 

    <% if (locals.error) { %> 
    <div id="alt_warning" class="alert alert-warning"> 
      <%= error %> 
    </div> 
    <% } %> 

    <form class="form-signin" role="form" method="post" enctype='multipart/form-data'>
    <h2 class="form-signin-heading" class="btn btn-primary">上传文件</h2>
    <input id="fulAvatar" name="fulAvatar" type="file" class="form-control" />	 
    <br/>
    <button id="btnSub" class="btn btn-lg btn-primary" type="submit" class="btn btn-primary">上 传</button>
    </form>
    <button id= 'sendfile' onclick= "sendfile()" class="btn btn-primary">发送</button>
    <div id="download"></div>
      
  </div> 
  </body>
  
  <script type="text/javascript" src="./javascripts/filesendopen.js"></script>
</html>
