<<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	
<h1>Welcome <%= title %>, 欢迎登录！！</h1>
 <a class="btn" href="/logout">退出</a>
 <textarea id ='messagebox' rows="20" cols="150"></textarea>
 <input  input type="text"  id ='message' name="message" placeholder="请输入消息" required></input>
 <button id = 'sendBtn'>anniu</button>
<script type="text/javascript">  
    var socket=io.connect(),//与服务器进行连接  
    	button=document.getElementById('sendBtn');  
    	input=document.getElementById('message');
    	messagebox=document.getElementById('messagebox');
    socket.on('message', function(data) {  
        //将消息输出到控制台  
        messagebox.value+=data;
    })  
    button.onclick=function(){  
        socket.emit('foo', input.value);
        input.value="";//发送一个名为foo的事件，并且传递一个字符串数据‘hello’  
    }  
    
</script> 
</body>
</html>