<<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

<script src="/socket.io/socket.io.js"></script>
</head>
<body onload="link()">
	
<h1>Welcome <%= title.name %>, 欢迎登录！！</h1>
<h1 id="name" style="display: none;"><%= title.name %></h1>
<h1 id="type" style="display: none;"><%= title.type %></h1>
<h1 id="id" style="display: none;"><%= title._id %></h1>
 <p id ="roominfo"></p>
 <p id ="roominfo2"></p>
 <textarea id ='messagebox' rows="20" cols="150"></textarea>
 <input  input type="text"  id ='message' name="message" placeholder="请输入消息" required></input>
 <button id = 'sendBtn' onclick="sendMeg()">发送</button>
 <a class="btn" href="/logout">退出</a>
<script src="./javascripts/client.js"></script> 
</body>
</html>