
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
<body screen_capture_injected="true">
	<DIV id = "choose_login" style="background: Skyblue; margin: 200px auto auto auto; border: 1px solid rgb(231, 231, 231); border-image: none; width: 400px; height: 200px; text-align: center;">
		<h1>
			Welcome to
			<%= title %></h1>
		<p>
			<a href="/userlogin">客户登录</a>
		</p>
		<p>
			<a href="/custom_servicelogin">客服登录</a>
		</p>
		<p>
			<a href="/register">客户注册</a>
		</p>
	</DIV>
</body>
</html>