<<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

<script src="/socket.io/socket.io.js"></script>
</head>
<body onload="startVideo();">
<!-- onload = "singlechatinit()" -->
<!-- <h1>Welcome to <%= title %></h1> --><!-- 
<h1 id="name" style="display: none;"><%= title.name %></h1>
<h1 id="type" style="display: none;"><%= title.type %></h1>
<h1 id="id" style="display: none;"><%= title._id %></h1>
 <p id ="roominfo"></p>
 <div id ="roominfo2"></div>
 <div id ="roominfo3"></div> -->

<textarea id ='messagebox' rows="20" cols="150" readonly="readonly" onfocus="this.scrollTop=this.scrollHeight"></textarea>

 <div>
 	<input  input type="text"  id ='message' name="message" placeholder="请输入消息" required></input>
 	<button type = "submit" id = 'sendBtn' onclick="sendMeg()">发送</button>
 	<button  id = 'logout' onclick="singlechatexit()">退出</button>
 </div>
 <!-- <video id="video" controls autoplay width="300" height="240" ></video>
 <video id="chatvideo" controls autoplay width="300" height="240" ></video> -->
<div>
	 <video id="webrtc-sourcevid" autoplay style="width: 300px; height: 240px; border: 1px solid black;"></video>
  <video id="webrtc-remotevid" autoplay style="width: 300px; height: 240px; border: 1px solid black;"></video>
  <button type="button" onclick="stopVideo();">Stop video</button>
  <button type="button" onclick="connect();" style="margin-left: 200px">Connect</button>
  <button type="button" onclick="hangUp();">Hang Up</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="./javascripts/singlechat.js"></script>
</body>
<!-- <script src="./javascripts/video.js"></script> -->
</html>