<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!--<style>
	.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
</style>
--><style type="text/css">
		#historyMsg {
			border: solid;
			height: 400px;
			background-color: #fff;
			overflow: auto;
			padding: 2px;
		}
		#historyMsg img {
			max-width: 99%;
		}</style>
<script src="./javascripts/adapter.js"></script>
<script src="/socket.io/socket.io.js"></script>
</head>
<body onload="startVideo();">
<!-- <textarea id ='messagebox' rows="20" cols="150" readonly="readonly" onfocus="this.scrollTop=this.scrollHeight"></textarea> -->
<div id="historyMsg"></div>
<div>
	<input  style="float: left;" input type="text"  id ='message' name="message" placeholder="请输入消息" required></input>
<button style="float: left;" type = "submit" id = 'sendBtn' onclick="sendMeg()">发送</button>
<div style="float: left;">
            <input id="emoji" type="button" value="emoji" title="emoji" />
            <div id="emojiWrapper"></div>
           
</div>
<button  id = 'logout' onclick="singlechatexit()">退出</button>

<div>
	<!-- <input type="file" id="files" name="files[]" multiple />
		<output id="list"></output>

<button id="send_files" onclick="send_files()">发送文件</button> -->
<label for="sendImage" class="imageLable">
				<input id="sendImage" type="file" value="image"/>
</label>
</div>
</div>
<div>
<video id="video" autoplay style="width: 300px; height: 240px; border: 1px solid black;" controls></video>
<video id="remotevideo" autoplay style="width: 300px; height: 240px; border: 1px solid black;" controls></video>

</div>
<div>
<button type="button" onclick="startVideo();">开启视频</button>
<button type="button" onclick="stopVideo();">暂停视频</button>
<button type="button" onclick="connect();" style="margin-left: 200px">连接</button>
<button type="button" onclick="hangUp();">断开</button>
</div>
<script src="./javascripts/singlechat.js"></script>
</body>
</html>